.carobject {
    text-align: left;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #DDBB71;
    width: 600px;
    padding 15px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #3C4B8E;
    border: 1px solid #DDBB71;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #DDBB71;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #3C4B8E;
    color: #DDBB71;
    border-color: #DDBB71;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 1s, color 1s;
}

    button:hover {
        background-color: #DDBB71;
        color: #3C4B8E;
        border: none;
    }

.CarDetails {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #DDBB71;
    width: 100%;
    margin-bottom: 20px;
}

.selectEnums {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #DDBB71;
    width: 100%;
    margin-bottom: 20px;
}

#Description {
    resize: none;
    height: auto;
}