* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3C4B8E;
    color: white;
}

header{
    height: 100px;
}



.container {
    margin-top: 20px;
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 600px;
    padding-left: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.nav-link {
    color: #DDBB71;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}



nav ul li a::after {
    color: #DDBB71;
    content: "";
    width: 0%;
    height: 3px;
    background: #DDBB71;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    color: #DDBB71;
    background: #DDBB71;
    width: 100%;
}



aside {
    width: 20%;
    background-color: #3C4B8E;
    padding: 20px;
}



aside.hidden {
    display: none;
}

aside ul li a {
    color: #DDBB71;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.containerForAside{
    position: absolute;
    left: 0;
    width: 10%;
    border: 1px solid #DDBB71;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #DDBB71;
}

.toggle-aside {
    position: absolute;
    z-index: 1;
    background: #3C4B8E;
    color: #DDBB71;
    padding: 10px;
    border: 1px solid #DDBB71;
    border-radius: 5px;
    top: 50px;
    left: 35px;
}

.toggle-aside i.fa-bars {
    font-size: 2.5em;
}

.footer {
    color: #DDBB71;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    white-space: nowrap;
}

.border-top {
    border-top: 1px solid #DDBB71;
}

.border-bottom {
    border-bottom: 1px solid #DDBB71;
}

.text{
    color: #DDBB71;
}

h1{
    color: #DDBB71;
}

.text-box {
    
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #3C4B8E;
    color: #DDBB71;
    border-radius: 10px;
    box-shadow: 0 0 10px #DDBB71;
}

.text {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

video {
    border-radius: 20px;
    box-shadow: 0 0 10px #DDBB71;
}

button{
    background-color: #3C4B8E;
    color: #DDBB71;
    border-color: #DDBB71;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    cursor: pointer ;
    margin-bottom: 20px;
    transition: background-color 1s, color 1s;
}

button:hover{
    background-color: #DDBB71;
    color: #3C4B8E;
    border: none;
}