@page
@model IndexModel
@{
    ViewData["Title"] = "About Us";
}


<div style="text-align: center";>
    <h1>@ViewData["Title"]</h1>
    <p class = "text">Use this page to display about us.</p>
</div>