@page
@model PrivacyModel
@{
    ViewData["Title"] = "Add Car";
}


<div style="text-align: center";>
    <h1>@ViewData["Title"]</h1>
    <p class="text">Use this page to add cars cars.</p>
    <button>Save</button>
</div>