@page
@model JSJMExoticCarsWebApp.Pages.AddFundsModel
@{
	ViewData["Tittle"] = "Add Funds";
}

<form class="SignInBox" method="post">
	<h1>Add Funds</h1>
	<label asp-for="@Model.NewFunds">Amount to add</label>
	<input class="SignInInput" asp-for="@Model.NewFunds" type="number" />
	<button type="submit">Add</button>
</form>
