@page
@model JSJMExoticCarsWebApp.Pages.CreateAccountModel
@{
	ViewData["Tittle"] = "Register user";
}

<form class="SignInBox" method="post">
	<h1>Register</h1>
	<div class="SignInBox">
		<label asp-for="@Model.User.Name"></label>
		<input class="SignInInput" asp-for="@Model.User.Name" type="text" />
	</div>
	<div class="SignInBox">
		<label asp-for="@Model.User.Password"></label>
		<input class="SignInInput" asp-for="@Model.User.Password" type="password" />
	</div>
	<button type="submit">Register Account</button>
</form>
	
