@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="css/newstyle.css" asp-append-version="true" />

<div style="text-align: center;">
    <div class="video">
        <video src="images/landing.mp4" loop="loop" autoplay="autoplay" muted></video>
    </div>
    <div class="text-box">
        <p class="text">
            Welcome to our website, where luxury and performance meet in the world of exotic cars. 
            We are thrilled to offer you a curated selection of the most exclusive, high-end vehicles from around the globe. 
            Whether you're a collector, an enthusiast, or simply looking for a statement piece, our collection of exotic cars is sure to impress. 
            From the sleek lines of Italian supercars to the raw power of American muscle, our selection showcases the best of the best. 
            Come explore our inventory and find your dream ride today.
        </p>
    </div>
</div>

