@page
@model JSJMExoticCarsWebApp.Pages.LogInModel
@{
	ViewData["Tittle"] = "Log in";
}
<link rel="stylesheet" href="css/newstyle.css" asp-append-version="true" />

<div class="SignInBox">
    <form class="SignInBox" method="post">
        
        
    </form>
</div>

<div class="SignInBox">
    <form class="SignInBox" method="post">
        <div>
            <h1>Login</h1>
            <label for="username">Username:</label>
            <input class="SignInInput" type="text" id="username" name="Username" required />
            <label for="password">Password:</label>
            <input class="SignInInput" type="password" id="password" name="Password" required />
        </div>
        <br/>
        <button type="submit">Login</button>
        @if (Model.ErrorMessage != null)
        {
            <p class="Error">@Model.ErrorMessage</p>
        }
    </form>
</div>






