@page
@model PrivacyModel
@{
    ViewData["Title"] = "Market Place";
}

<div style="text-align: center";>
    <h1>@ViewData["Title"]</h1>
    <p class="text">Use this page to display cars.</p>
    <button onclick="location.href='@Url.Page("/AddCar")'" class="btn btn-primary">Add Car</button>
</div>


