@page
@model MarketModel
@{
    ViewData["Title"] = "Market Place";
}

<<div class="car-info">
    @foreach (Models.Car car in Model.cars)
    {
        <div class="box" onclick="location.href='@Url.Page("/ShowCarDetails", new { id = car.Id })'">
            <h3>@car.CarModel</h3>
            <p>@car.CarBrand</p>
            <p>$@car.Price</p>
        </div>
    }
</div>

<br />

<div class="box" style="text-align: center">
    <button onclick="location.href='@Url.Page("/AddCar")'" class="btn btn-primary">Add Car</button>
</div>


