@page
@model JSJMExoticCarsWebApp.Pages.MyAccountModel
@{
	ViewData["Tittle"] = "My Account";
}

<link rel="stylesheet" href="~/css/carstyle.css" />
<link rel="stylesheet" href="~/css/UserStyle.css" />

<div>
	<label for="name">Username:</label>
	<h2 name="name">@Model.Session.Name</h2>
	<label for="funds">Your funds:</label>
	<h2 name="funds">@Model.Session.Funds</h2>
</div>
<h1>Your cars</h1>
@foreach (Models.Car car in Model.Session.Cars)
{
	<p>@car.Model</p>
}
