@page
@model IndexModel
@{
    ViewData["Title"] = "Sign In";
}


<div style="text-align: center";>
    <h1>@ViewData["Title"]</h1>
    <a href="/LogIn"><button>Log In</button></a>
    <a href="/CreateAccount"><button>Register</button></a>
</div>