<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sample</title>
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header class="header border-bottom">
        <div>
            <div class="container">
                <button class="toggle-aside"><i class="fa fa-bars"></i></button>
                <nav>
                    <img src="images/mainlogo.jpg" class="logo">
                    <ul>
                        <li><a class="nav-link" asp-area="" asp-page="/Index">Home</a></li>
                        <li><a class="nav-link" asp-area="" asp-page="/Market">Market</a></li>
                        <li><a class="nav-link" asp-area="" asp-page="/SignIn">Sign In</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
<div class="containerForAside">
    
    <aside class="aside-box">
        <ul>
            <li><a href="/MyAccount">My account</a></li>
            <li><a href="#">Log out</a></li>
        </ul>
    </aside>
</div>
        

    <div class="container" id="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - JSJM Exotic Cars
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
